html{width: 1280px;
     height: 800px;
}

a{ text-decoration: none;
       }

a:hover{
    color:rgb(8, 8, 8);
    text-decoration: none;
    } 

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    font-size: 1rem;
    margin: 0;
    }
header{
    display: flex;
    align-items: center;
    background-color: rgb(216, 27, 175) ; 
    width: 100%;
    margin: 0 0 auto auto;
    max-width: 100vw;
  }
  header div{
    width: 100%;
  }

  .head_header{
    width:1024px;
    float: none;
   flex-direction: row;
   justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    
}

main{ background-color: rgb(255, 255, 255);
    }
.link { color: #FF0000; }

.conteiner1{
    padding-left: 50px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    background-color:rgb(70, 62, 62) ;
    width: 100%;
    max-width: 100%;
    color: white;
    text-decoration: none;
}

.cac_icono{
    margin-right: 10px;
}

        
.menu_navegacion{
    display: flex;
    float: left;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    
}
.menu_navegacion ul{
    margin: 0;
    padding-left: 140px;
     }

.menu_navegacion ul li{
        
    display:inline-block;
    text-decoration: none;

}
.menu_navegacion ul li a{
    display: block;
    padding-inline: 10px;
}

.menu_navegacion ul li {color: crimson;}
        

.flex_img{
    display: flex;
    justify-content: center;
    align-items: center;

}

.texto_imagen{

    max-width: 100%;
    width: 500px;
}
.sobres_img{
    
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items:normal;
}

#fondo_sobre_img H1{font-size: 1.5vw;

}
#fondo_sobre_img H2{font-size: 1vw;

}

#fondo1{
    width: 1280px;
    height:480px;
    background-image: url(../assets/imagenes/ba1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-origin: content-box;

    filter: brightness(60%);
-webkit-filter: brightness(60%);
-moz-filter: brightness(60%);
}

#fondo2{
    width: 1280px;
    height: 480px;
    background-image: url(../assets/imagenes/ba2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    filter: brightness(60%);
-webkit-filter: brightness(60%);
-moz-filter: brightness(60%);
    
}
#fondo3{
    width: 1280px;
    height: 480px;
    background-image: url(../assets/imagenes/ba3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
}

#fondo_sobre_img{
 position: absolute; top: 220px; left: 650px;
     width: 545px;
    height: 150px;
    text-align: right;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}


.slider {
	width: vw;
	overflow: hidden;
}

.slider ul {
	display: flex;
	animation: cambio 10s infinite normal linear;
}

.slider li {
	list-style: none;
}

.slider img {
	width: 100vw;
}

@keyframes cambio {
	0% {margin-left: 0;}
	33% {margin-left: 0;}
	
	36% {margin-left: -100%;}
	69% {margin-left: -100%;}
	
	70% {margin-left: -200%;}
	100% {margin-left: -200%;}

}




.boxx{
    width: 200px;
    height: 200px;
    background-color: red;
}
.galeria{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
   }
        
.titulo_oradores{
   display:contents;
   width: 1280px;
   height: 280px;
   text-align: center;
}
.oradores{
     width: 75%;
    display: flex;
    background-color: rgb(255, 255, 255) ; 
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    }
.item5{

    display: flex;
    background-color: rgb(255, 255, 255) ; 
    flex-direction: column;
    border-width: 10px;
    width: 225px;
 }

.oradores H1{font-size: 10px;
            width: 200px;
            text-align: left}
.oradores p{font-size: 10px;
        width: 200px;
        text-align: left;}
.oradores H3{font-size: 8px;}

        
      
.item{
         max-width: 33.33%;
            margin: 20px;
            padding: 0;
            text-align:center
           }
        
.publicidad{
            display: flex;
            width: 100%;
            height: 74vh;
            background-color: 352c2c ; 
            /*padding: 1em;*/
           
            
        }
.iten{
         width:50%;
         height: 100%;
         color: white;
         background-color: #352c2c;
         /*float: left;*/
            
        }
        
.articulos{
            background-color: grey;
            justify-content: space-between;
            padding: 1em;
           /*overflow: hidden;*/
            display: flex;
              
        }
.articulos h1{
            font-size: 2ex  ;
        }
.articulos header{
            font-size: 2em;
        }
 
.img.redimension {
          max-width:50%;
          max-height:50%;
        }
.boton1 {
            border: 1px solid white; 
            padding: 10px; 
            background-color: transparent;
            color: #ffffff; 
            text-decoration: none; 
            font-family: 'Helvetica', sans-serif; 
            border-radius: 10px; 
            }
.boton2 {
                border: 1px solid #2e518b; 
                padding: 10px; 
                background-color: #327924; 
                color: #ffffff; 
                text-decoration: none; 
                font-family: 'Helvetica', sans-serif;
                border-radius: 10px;
                }

.container-formulario{
display: flex;
flex-direction: column;
width: 50%;
   }

.nomape{display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 0%;
    justify-content: space-between;
    align-items:center;
    justify-content: center;
}

 
.conteiners-footer{
    
   padding-left: 50px;
    padding-right: 20px;
    display:flex;
    box-sizing: border-box;
    height: 10vh;
    flex-wrap: nowrap;
    background-color: #6880c1;
    
    align-self: flex-start;
    flex:auto;
    justify-content: space-between;
    background: #1d3744;
    background: linear-gradient(90deg,#1d3744 0%, #1d5270 80%);
    background: -webkit-linear-gradient(90deg,#1d3744 0%, #1d5270 80%);
    background: -moz-linear-gradient(90deg,#1d3744 0%, #1d5270 80%);
    text-decoration: none;
    justify-content: start;
     }

.boton3 {display: flex;
    height: 10vh;
    flex-wrap: nowrap;
    width: 15%;
   text-align: justify;
    flex: auto;
    color: #ffffff; 
    text-decoration: none; 
    font-family: 'Helvetica', sans-serif;
    justify-content: space-between;
    align-items:center;

    }
.formu {display: flex;
        flex-wrap: nowrap;
        width: 100%;
        text-align: justify;
        flex: auto;
        color: #000000;
        text-decoration: none; 
        font-family: 'Helvetica', sans-serif;
        justify-content: space-between;
        align-items:center;
        justify-content: center;
        }
.formu1 {display: flex;
         width: 50%;
         color: #000000;
         text-decoration: none; 
         font-family: 'Helvetica', sans-serif; 
         align-items:left;
            justify-content: left;
            }
.formu2 {display: flex;
    resize: none;
                width:100%;
                height: 10%;
                color: #000000;
                text-decoration: none;
                font-family: 'Helvetica', sans-serif; 
                align-items:flex-start;
                justify-content: left;
                 }
.formu3 {display: flex;
        width:100%;
        color: #000000; 
        text-decoration: none;
        font-family: 'Helvetica', sans-serif;
        align-items:flex-start;
        justify-content:left ;
        }

.formu4 {display: flex;
        width:100%;
        background-color: #47e723;
        color: #000000;
        text-decoration: none;
        font-family: 'Helvetica', sans-serif; 
        align-items:center;
        justify-content: center;
     }

    .boton3 a {color: #ffffff;
    width: 20%;}
    /*
@media (max-width:768px){
    body{

        background-color: red;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.4em;
        font-size: 1rem;
        margin: 0;
        /*width: 100%;
        max-width: 100%;
        height: 100%;*/

 